html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

@import "neat/neat";
@import "compass/css3";

$primaryColor: #ED1C24;


header#header{
	background-color: $primaryColor;

	#branding-wrapper{
		@include grid-container;

		#branding{
			@include grid-column(8);
			@include grid-push(2);
		}

		#site-title, #site-description, #cta-text{
			text-align: center;
		}

		#site-title a{ 
			color: #FFFFFF; 
			font-size: 7em;
			text-decoration: none;
		}

		#site-description{
			color: #000000;
			text-transform: uppercase;
			font-size: 2em;
		}

		#site-cta{
			margin-top: 49px;
			margin-bottom: 49px;

			#cta-text{
				text-transform: uppercase;
				margin-bottom: 7px;
			}

			#cta-input{
				margin: 0 auto;
				width: 50%;

				input{
					border: none;
					outline: none;
					padding: none;
					line-height: 28px;
				}

				input[type='email']{
					width: 70%;
					padding-left: 6px;
				}

				input[type='button']{
					width: calc(30% - 12px);
					padding-left: 0px;
					padding-right: 0px;
					text-transform: uppercase;
					background-color: #000000;
					color: #FFFFFF;
				}
			}
		}
	}

	
	#search{
		display: none;
	}	

	div.menu{
		@include grid-container;
		padding-bottom: 14px;

		ul{
			@include grid-column(8);
			@include grid-push(2);
			text-align: center;
		}

		li{
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 7px;
			
			a{
				padding: 5px 7px;
				text-decoration: none;
				color: #FFFFFF;
			}

			&:hover{
				a{ 
					background-color: #FFFFFF;
					color: #000000;
				}
			}
		}
	}
}

// Stylization for posts on the main or category pages, not singular
body.home{
	section#content{
		@include grid-container;	
		
		article{
			@include grid-column(8);
			@include grid-push(2);

			margin-top: 20px;
			margin-bottom: 20px;

			.entry-words{
				.cat-links a{ 
					font-size: 36px;
					text-transform: uppercase;
					text-decoration: none;
					color: $primaryColor; 
				}

				.entry-title a{
					font-size: 45px;
					text-transform: upper-alpha;
					text-decoration: none;
					color: #000000;
				}
			}

			.entry-thumbnail{
				img{
					max-width:100%;
					height: auto;
				}
			}

			.entry-footer, .entry-meta{
				display: none;
			}

			&.category-music{

				.entry-header, .entry-words{ text-align: right; }
				.entry-thumbnail{
					@include grid-column(7);
					@include box-shadow(rgba(0,0,0,0.5) 0px 5px 15px 0px);
					float: right;
					padding: 20px;
					box-sizing: border-box;
			
				}

				.entry-words{
					@include grid-column(5);
				}
			}

			&.category-art{
				padding-top: 20px;
				padding-bottom: 20px;
				
				@include box-shadow(rgba(0,0,0,0.5) 0px 5px 15px 0px);
				
				.entry-header, .entry-words, .entry-thumbnail{
					@include grid-column(12);
				}

			}
		}
	}

	aside#sidebar{
		display: none;
	} 
}


