$fa-font-path: "fonts" !default;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

@import "neat/neat";
@import "compass/css3";
@import "font-awesome/scss/font-awesome";

$primaryColor: #ED1C24;

*{
	box-sizing: border-box;
}

html{
	font-family: 'Montserrat', sans-serif;
}

header#header{
	background-color: $primaryColor;

	#branding-wrapper{
		@include grid-container;

		#branding{
			@include grid-column(8);
			@include grid-push(2);
		}

		#site-title, #site-description, #cta-text{
			text-align: center;
		}

		#site-title a{ 
			color: #FFFFFF; 
			font-size: 7em;
			text-decoration: none;
		}

		#logo{
			background-image: url(images/floated-white.svg);
		    background-repeat: no-repeat;
		    width: 100%;
		    height: 330px;
		    background-position: 50% -310px;
		    background-size: cover;
		}		

		#site-description{
			color: #000000;
			text-transform: uppercase;
			font-size: 2em;
		}

		#site-cta{
			margin-top: 49px;
			margin-bottom: 49px;

			#cta-text{
				text-transform: uppercase;
				margin-bottom: 7px;
			}

			#cta-input{
				margin: 0 auto;
				width: 50%;

				input{
					border: none;
					outline: none;
					padding: none;
					line-height: 28px;
				}

				input[type='email']{
					width: 70%;
					padding-left: 6px;
				}

				input[type='button']{
					width: calc(30% - 12px);
					padding-left: 0px;
					padding-right: 0px;
					text-transform: uppercase;
					background-color: #000000;
					color: #FFFFFF;
				}
			}
		}
	}

	
	#search{
		display: none;
	}	

	nav#menu{
		@include grid-container;
		padding: 14px 0px;

		ul{
			@include grid-column(8);
			@include grid-push(2);
			text-align: center;
		}

		li{
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 7px;
			
			a{
				display: block;
				padding: 5px 7px;
				text-decoration: none;
				color: #FFFFFF;
			}

			&:hover, &.current-menu-item{
				a{ 
					background-color: #FFFFFF;
					color: #000000;
				}
			}
		}

		.logo-thumb{
			 display: none; 
		}

		// Stickymenu
		&.myfixed{
			background-color: #ED1C24;

			.logo-thumb{
				display: inline-block;
				float: left;
				position: absolute;
				left: 10px;
			}
		}
	}

	.wrapfixed{
		opacity: 100;
	}
}

// Shared Stylizations
.entry-words{
	.entry-title > a{
	    font-size: 45px;
	    text-transform: capitalize;
	    text-decoration: none;
	    color: #464646;
	}
}

// Stylization for posts on the main or category pages, not singular
body.home{
	section#content{
		@include grid-container;	
		
		article{
			@include grid-column(8);
			@include grid-push(2);

			margin-top: 20px;
			margin-bottom: 20px;

			.cat-links a{ 
				font-size: 36px;
				line-height: 1.1em;
				text-transform: capitalize;
				text-decoration: none;
				color: $primaryColor; 
			}

			.entry-thumbnail{
				img{
					max-width:100%;
					height: auto;
				}
			}

			.entry-footer, .entry-meta{
				display: none;
			}

			p{
				margin: 7px 0px;
			    font: normal normal normal 13px/1.3em 'Open Sans',sans-serif;
				color: #464646;
				letter-spacing: normal;

				img{
					display: none;
				}
			}
		
			&.category-music{

				.entry-header, .entry-words{ text-align: right; }
				.entry-thumbnail{
					@include grid-column(7);
					@include box-shadow(rgba(0,0,0,0.5) 0px 5px 15px 0px);
					float: right;
					padding: 20px;
					box-sizing: border-box;
			
				}

				.entry-words{
					@include grid-column(5);
				}
			}

			&.category-art{
				padding-top: 20px;
				padding-bottom: 20px;
				
				@include box-shadow(rgba(0,0,0,0.5) 0px 5px 15px 0px);
				
				.entry-header, .entry-words, .entry-thumbnail{
					@include grid-column(12);
				}

			}
		}
	}

	aside#sidebar{
		display: none;
	} 
}

// Stylization for category list
body.category{
	#container{
		@include grid-container;
	}

	section#content{
		@include grid-column(6);
		@include grid-push(3);
	}

	.header{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 45px;
	    text-transform: capitalize;
	    text-decoration: none;
	    color: #464646;
	}

	.entry{
		margin-top: 20px;
		margin-bottom: 60px;
	}

	.cat-links{
		display: none;
	}

	.entry-thumbnail{
		margin-bottom: 10px;

		img{
			max-width:100%;
			width: auto;
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
		
	.entry-footer, .entry-meta{
		display: none;
	}
	

	p{
		margin: 7px 0px;
	    font: normal normal normal 13px/1.3em 'Open Sans',sans-serif;
		color: #464646;
		letter-spacing: normal;

		img{
			display: none;
		}
	}

	#comments, #footer, #sidebar{
	 	display: none; 
	}
}

// Stylization for individual posts
body.single{
	section.entry-content{
		.entry-thumbnail{
			.thumbnail-div{
			    max-width: 100%;
			    height: 500px;
			    background-position: center 0%;
			    background-repeat: no-repeat;
			    background-origin: border-box;
			    background-attachment: fixed;
			    background-size: 100%;
			    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
			}
		}

		.entry-container{
			@include grid-container;
		}

		

		.entry-words{
			margin-top: 21px;
			margin-bottom: 21px;
		}

		.entry-header{ 
			margin-bottom: 20px;

			.entry-title{
				margin-bottom: 14px;
			}
		}

		p{
			margin: 7px 0px;
		    font: normal normal normal 13px/1.3em 'Open Sans',sans-serif;
    		color: #464646;
    		letter-spacing: normal;

    		img{
			    margin: 0 auto;
		  		display: block;
    		}
		}
	}

	.entry-words, .entry-links, .entry-footer, .footer{
		@include grid-column(6);
		@include grid-push(3);
	}

	#comments, #footer, #sidebar{
	 	display: none; 
	}
}

