/* line 1, sass/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

/* line 1, sass/style.scss */
body {
  line-height: 1;
}

/* line 1, sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 1, sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 1, sass/style.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 1, sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, sass/style.scss */
.clear {
  clear: both;
}

/* line 2, sass/style.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 9, sass/style.scss */
html {
  font-family: 'Montserrat', sans-serif;
}

/* line 13, sass/style.scss */
header#header {
  background-color: #ED1C24;
}
/* line 25, sass/neat/neat/mixins/_grid-container.scss */
header#header #branding-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 19, sass/style.scss */
header#header #branding-wrapper #branding {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.66667% - 23.33333px + 40px);
}
/* line 24, sass/style.scss */
header#header #branding-wrapper #site-title, header#header #branding-wrapper #site-description, header#header #branding-wrapper #cta-text {
  text-align: center;
}
/* line 28, sass/style.scss */
header#header #branding-wrapper #site-title a {
  color: #FFFFFF;
  font-size: 7em;
  text-decoration: none;
}
/* line 34, sass/style.scss */
header#header #branding-wrapper #logo {
  background-image: url(images/floated-white.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 330px;
  background-position: 50% -310px;
  background-size: cover;
}
/* line 43, sass/style.scss */
header#header #branding-wrapper #site-description {
  color: #000000;
  text-transform: uppercase;
  font-size: 2em;
}
/* line 49, sass/style.scss */
header#header #branding-wrapper #site-cta {
  margin-top: 49px;
  margin-bottom: 49px;
}
/* line 53, sass/style.scss */
header#header #branding-wrapper #site-cta #cta-text {
  text-transform: uppercase;
  margin-bottom: 7px;
}
/* line 58, sass/style.scss */
header#header #branding-wrapper #site-cta #cta-input {
  margin: 0 auto;
  width: 50%;
}
/* line 62, sass/style.scss */
header#header #branding-wrapper #site-cta #cta-input input {
  border: none;
  outline: none;
  padding: none;
  line-height: 28px;
}
/* line 69, sass/style.scss */
header#header #branding-wrapper #site-cta #cta-input input[type='email'] {
  width: 70%;
  padding-left: 6px;
}
/* line 74, sass/style.scss */
header#header #branding-wrapper #site-cta #cta-input input[type='button'] {
  width: calc(30% - 12px);
  padding-left: 0px;
  padding-right: 0px;
  text-transform: uppercase;
  background-color: #000000;
  color: #FFFFFF;
}
/* line 87, sass/style.scss */
header#header #search {
  display: none;
}
/* line 91, sass/style.scss */
header#header div.menu {
  padding-bottom: 14px;
}
/* line 25, sass/neat/neat/mixins/_grid-container.scss */
header#header div.menu::after {
  clear: both;
  content: "";
  display: block;
}
/* line 95, sass/style.scss */
header#header div.menu ul {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.66667% - 23.33333px + 40px);
  text-align: center;
}
/* line 101, sass/style.scss */
header#header div.menu li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 7px;
}
/* line 107, sass/style.scss */
header#header div.menu li a {
  padding: 5px 7px;
  text-decoration: none;
  color: #FFFFFF;
}
/* line 114, sass/style.scss */
header#header div.menu li:hover a, header#header div.menu li.current_page_item a {
  background-color: #FFFFFF;
  color: #000000;
}

/* line 125, sass/style.scss */
.entry-words .entry-title > a {
  font-size: 45px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

/* line 25, sass/neat/neat/mixins/_grid-container.scss */
body.home section#content::after {
  clear: both;
  content: "";
  display: block;
}
/* line 138, sass/style.scss */
body.home section#content article {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.66667% - 23.33333px + 40px);
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 145, sass/style.scss */
body.home section#content article .cat-links a {
  font-size: 36px;
  line-height: 1.1em;
  text-transform: capitalize;
  text-decoration: none;
  color: #ED1C24;
}
/* line 154, sass/style.scss */
body.home section#content article .entry-thumbnail img {
  max-width: 100%;
  height: auto;
}
/* line 160, sass/style.scss */
body.home section#content article .entry-footer, body.home section#content article .entry-meta {
  display: none;
}
/* line 166, sass/style.scss */
body.home section#content article.category-music .entry-header, body.home section#content article.category-music .entry-words {
  text-align: right;
}
/* line 167, sass/style.scss */
body.home section#content article.category-music .entry-thumbnail {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
  float: right;
  padding: 20px;
  box-sizing: border-box;
}
/* line 176, sass/style.scss */
body.home section#content article.category-music .entry-words {
  width: calc(41.66667% - 28.33333px);
  float: left;
  margin-left: 20px;
}
/* line 181, sass/style.scss */
body.home section#content article.category-art {
  padding-top: 20px;
  padding-bottom: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}
/* line 187, sass/style.scss */
body.home section#content article.category-art .entry-header, body.home section#content article.category-art .entry-words, body.home section#content article.category-art .entry-thumbnail {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}
/* line 195, sass/style.scss */
body.home aside#sidebar {
  display: none;
}

/* line 204, sass/style.scss */
body.single section.entry-content .entry-thumbnail .thumbnail-div {
  max-width: 100%;
  height: 500px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
}
/* line 25, sass/neat/neat/mixins/_grid-container.scss */
body.single section.entry-content .entry-container::after {
  clear: both;
  content: "";
  display: block;
}
/* line 220, sass/style.scss */
body.single section.entry-content .entry-words, body.single section.entry-content .entry-links {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px;
  margin-left: calc(25% - 25px + 40px);
}
/* line 225, sass/style.scss */
body.single section.entry-content .entry-words {
  margin-top: 21px;
  margin-bottom: 21px;
}
/* line 230, sass/style.scss */
body.single section.entry-content .entry-title {
  margin-bottom: 14px;
}
/* line 234, sass/style.scss */
body.single section.entry-content p {
  margin: 7px 0px;
}
